# Data Structures : Built_in

# List

In [120]:
# list are enclosed within square brackets "[]".
list1=[1,2,3,4,5]
print("List 1= ",list1)

# can store data of different data type
# we can store float, int or string data in a single list
list2=[1,2,3.5,'hi','anurag',4]
print("List 2= ",list2)

List 1=  [1, 2, 3, 4, 5]
List 2=  [1, 2, 3.5, 'hi', 'anurag', 4]

In [121]:
# list are ordered
# the first element you add in the list remains at the index 0 
# and second element is 1 and so on.
list1==list2   #list with same elements nut not same order

False

In [122]:
#You can access list elements using indexing
list1[0]

1

In [123]:
#Negative indexing in list
list1[-1]

5

In [124]:
#list can be nested
#you can have list inside list
list3=[[1,2,3],'hello',4,5,6]
print("List 3= ",list3)

#list are mutable
#we can insert or delete any element from the list
list3.append(10)
print("Adding 10 in list3= ",list3)

del list3[1]
print("Deleting second element in list3= ",list3)
# list are dynamic
# when we add any element in the list, it grows
# and when we delete element, it shrinks

List 3=  [[1, 2, 3], 'hello', 4, 5, 6]
Adding 10 in list3=  [[1, 2, 3], 'hello', 4, 5, 6, 10]
Deleting second element in list3=  [[1, 2, 3], 4, 5, 6, 10]

# Tuples

In [125]:
# stores different types of collection of data.
# similar to the list but has two difference.
# Tuples are comma seprated elements when closed within the parenthesis "()" unlike in list"[]"
# you you dont use parenthesis also, the values seprated by te comma are called as tuple
tuple1=(1,2,3,4,5)
print("Tuple 1= ",tuple1)
tuple2=1,2,3,4,5,6
print("Tuple 2= ",tuple2)

Tuple 1=  (1, 2, 3, 4, 5)
Tuple 2=  (1, 2, 3, 4, 5, 6)

In [126]:
#lets create an empty element in tuple
tuple1=tuple()
print(tuple1)

()

In [127]:
tuple2=(2)
#NOTE: this is not  tuple, it is an integer value 
type(tuple2)

int

In [128]:
#so to create a tuple with a single element, we need to put a comma "," after the element 
tuple3=(2,)
print(tuple3)

(2,)

In [2]:
#tuple are immutable
#After creating the tuple we can't modify it.
tuple1=(1,2,3,4,5,6)
# we cant insert the elements and neither can we delete.
try:
    tuple1.append(5)
except:
    tuple1

# Dictionary

In [130]:
# It is defined as key values based
# seprated by comma ","
# encloed within curly braces "{}"
# key and values are seprated by ";"

# SYNTAX: Dictionary_name={key1:value1,key2:value2,key2:value2,....}

# keys in the dictionarys need to be unique. 
# values can be mutable or immutable but ket must be im mutable
# we can't have a list of keys as a dictionary.

In [131]:
#creating an empty dictionary 
d={}
print("Dictionary d= ", d)

#creating a dictionary with values inside it
d1={"Anurag":"anurag@abcd.co.in", "Rohan":"rohan@abcd.com"}
print("Dictionary d1= ",d1)

Dictionary d=  {}
Dictionary d1=  {'Anurag': 'anurag@abcd.co.in', 'Rohan': 'rohan@abcd.com'}

In [132]:
# keys are unique
# lets try creating a duplicate keys
d2={"a":"1","b":"2","c":"3","a":"4"}
# here we have two values for same key "a"
# when we will print d2, we will not see two a, 
print(d2)

{'a': '4', 'b': '2', 'c': '3'}

In [6]:
# can't use list as a key in the dictionary 
d3={[1,2,3]:"anurag"}
print(d3)

TypeError: unhashable type: 'list'

In [134]:
# dictionarys are unordered 
d1={"1":"a","2":"b"}
d2={"2":"b","1":"a"}
d1==d2

True

In [135]:
# because dictionarys are unordered, so we cant access the elements of dictonary using index
# so we need to use the key to access the element
d1["1"]
print("Key of element 1= ",d1["1"])

Key of element 1=  a

In [136]:
del d1["1"]
print(d1)

{'2': 'b'}

In [137]:
# dictionary can be nested
# we can use the value of dictionary as the another dictionary
# but we cant use the key of dictionary as another dictionary  
d={"1":{1:2}}
print(d)

{'1': {1: 2}}

# Sets

In [138]:
# Set is a collection of unique elements
# No element is repeated 
# defined in the "{}"
# To create an empty set, you need set constructer
s=set()
print(s)

set()

In [139]:
# you can create set from the string
s=set("Hello")
print(s)
# repeated elemnts are ignored

{'H', 'o', 'l', 'e'}

In [140]:
s1=set([1,2,3,4,5,6,7,8,9,10])
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [141]:
# you can create using curly braces also
s2={1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [142]:
# you are taking the "{}" and inside that you are taking key values that means that is dictonary 
# and if you are taking the elements that means you are taking the sets.
type(s2)

set

In [143]:
# What happens if i use duplicate values in set?
s3={1,2,3,4,5,1,2}
print(s3)  #duplicates values are ignored in sets

{1, 2, 3, 4, 5}

In [144]:
# liske dictionary, set is also unordered 
s1==s2

True

In [145]:
# set is mutable
# you can manupilate that
s3.add(9)
print(s3)

{1, 2, 3, 4, 5, 9}

In [146]:
# set can contain only immutable obeject as elements 
# mutable types cant be elements of the sets
# you cant have list as the elemenet of the set
s4={[1,2,3,4],5,6}
print(s4)   #---->this implies that set cant be nested

TypeError: unhashable type: 'list'

In [147]:
# set can have different types of element, but the type of element should be immutable object
s5={"anurag",1,2,3,4.7}
print(s5)

{1, 2, 3, 4.7, 'anurag'}

In [148]:
# you can perform standard operations of the sets, which you use in Maths
# if you want to create a list of items where each section is unique,
# then you can use the set data structure
# and because set in unordered, we cant access the element of the set using the index
# in the dictionary we have key and value pair and using keys we can access the values,
# but in the set we dont have keys and values. So to access the element from the key, 
# you can use the loop or you can check whether the element is present in the set or not using the 
# inmembership operator.
1 in s5

True

In [149]:
for i in s5:
    print(i)

1
2
3
4.7
anurag