# Python Data Structures and Boolean

Boolean

Boolean and Logiocal operators

Lists

Comarision operators

Dictionaries

Tuples

Sets

## Boolean variables

Boolean values are the two constant objects False and True. they are used to represent truth values. In numeric, they behaves like interger 0 and 1.

The built-in function bool() can be used to cast any values to a Boolean.

In [1]:
False

False

In [12]:
Akash

NameError: name 'Akash' is not defined

In [6]:
var = "akash"

In [14]:
print(var)

akash

In [15]:
print(True,False)

True,False

In [19]:
type("akash")

str

In [25]:
my_str = 'anurag'

In [26]:
type(my_str)

str

## Boolean and logical Operators

In [27]:
True and False

False

In [28]:
True and True

True

In [30]:
True not False

SyntaxError: invalid syntax (<ipython-input-30-c17218c8f79d>, line 1)

# List

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [32]:
['sudh','sduycgsd',2323,'jdv']  # mutable ---> can change

['sudh', 'sduycgsd', 2323, 'jdv']

In [34]:
type([])

list

In [35]:
lst_example = []

In [36]:
type(lst_example)

list

In [37]:
lst =list()

In [38]:
type(lst)

list

In [39]:
lst = ["Rhea","Akash","Anurag",10,20,100,120]

In [40]:
len(lst)

7

In [41]:
type(lst)

list

### Append

In [42]:
lst.append("Adarsh")

In [43]:
lst

['Rhea', 'Akash', 'Anurag', 10, 20, 100, 120, 'Adarsh']

In [44]:
lst.append(["Jonny","Sins"])

In [45]:
lst

['Rhea', 'Akash', 'Anurag', 10, 20, 100, 120, 'Adarsh', ['Jonny', 'Sins']]

In [46]:
# Indexing in list
lst[1]

'Akash'

In [47]:
lst[0]

'Rhea'

In [48]:
lst[8]

['Jonny', 'Sins']

In [49]:
lst

['Rhea', 'Akash', 'Anurag', 10, 20, 100, 120, 'Adarsh', ['Jonny', 'Sins']]

In [57]:
lst[1:10]

['Akash', 'Anurag', 10, 20, 100, 120, 'Adarsh', ['Jonny', 'Sins']]

### Insert

In [58]:
lst

['Rhea', 'Akash', 'Anurag', 10, 20, 100, 120, 'Adarsh', ['Jonny', 'Sins']]

In [61]:
#  inset in a specifi order
lst.insert(0,"Amity")

In [62]:
lst

['Amity',
 'Rhea',
 'Akash',
 'Amity',
 'Anurag',
 10,
 20,
 100,
 120,
 'Adarsh',
 ['Jonny', 'Sins']]

In [63]:
lst.append(["Hello","World"])

In [64]:
lst

['Amity',
 'Rhea',
 'Akash',
 'Amity',
 'Anurag',
 10,
 20,
 100,
 120,
 'Adarsh',
 ['Jonny', 'Sins'],
 ['Hello', 'World']]

In [65]:
lst1=[1,2,3]

In [67]:
lst1

[1, 2, 3]

In [69]:
lst1.append([4,5])

In [70]:
lst1

[1, 2, 3, [4, 5]]

### Extend Method

In [83]:
lst2=[1,2,3,4,5,6]

In [84]:
lst2.extend(["Jonny","Sins"])

In [85]:
lst2

[1, 2, 3, 4, 5, 6, 'Jonny', 'Sins']

### Various operations that we can perform in List

In [90]:
rhea= [1,2,3,4,5]

In [91]:
sum(rhea)

15

In [92]:
rhea*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [94]:
rhea

[1, 2, 3, 4, 5]

In [95]:
rhea.pop()

5

In [96]:
rhea.pop()

4

In [97]:
rhea.pop()

3

In [98]:
rhea.pop()

2

In [99]:
rhea.pop()

1

In [103]:
rhea=[10,20,30,40,50]

In [104]:
rhea.pop(0)

10

In [105]:
rhea

[20, 30, 40, 50]

### cout() : calculates total occurrence of give element of List

In [107]:
akash = [1,1,1,2,3,4,5,6,7,8,9]
akash.count(1)

3

In [108]:
akash

[1, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
min(akash)

1

In [110]:
max(akash)

9

### Python List Exercise

##### QUESTION-1: Python program to interchange first and last elements in a list

Given a list, write a Python program to swap first and last element of the list.

Examples:

Input : [12, 35, 9, 56, 24]

Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]

Output : [3, 2, 1]

https://www.geeksforgeeks.org/python-program-to-interchange-first-and-last-elements-in-a-list/

In [113]:
def swap_element(new_lst):
    size = len(new_lst)
    temp = new_lst[0]
    new_lst[0] = new_lst[size-1]
    new_lst[size-1] = temp
    return new_lst

In [117]:
new_lst = [1, 2, 3,4,5]
print(swap_element(new_lst))
# [5,2,3,4,1]

[5, 2, 3, 4, 1]

##### QUESTION-2: Python program to swap two elements in a list

Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list.

Examples:

Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3

Output : [19, 65, 23, 90]

Input : List = [1, 2, 3, 4, 5], pos1 = 2, pos2 = 5

Output : [1, 5, 3, 4, 2]

https://www.geeksforgeeks.org/python-program-to-swap-two-elements-in-a-list/

In [124]:
def swap_position(list, pos1 ,pos2):
    list[pos1],list[pos2] = list[pos2],list[pos1]
    return list

List = [23, 65, 19, 90]
pos1, pos2 = 1, 3
print(swap_position(List, pos1-1 ,pos2-1))

[19, 65, 23, 90]

In [125]:
# METHOD-2
def swap_position(list, pos1 ,pos2):
    first_ele = list.pop(pos1)
    second_ele = list.pop(pos2-1)
    
    list.insert(pos1, second_ele)
    list.insert(pos2, first_ele)
    return list

List = [23, 65, 19, 90]
pos1, pos2 = 1, 3
print(swap_position(List, pos1-1 ,pos2-1))

[19, 65, 23, 90]

##### QUESTION-3: Ways to find length of list

List being an integral part of Python day-day programming has to be learned by all the python users and having a knowledge of its utility and operations is essential and always a plus. So this article discusses one such utility of finding the no. of elements in a list.

Method 1 : Naive Method

In this method one just runs a loop and increases the counter till the last element of the list to know its count. This is the most basic strategy that can be possibly employed in the absence of other present techniques.

https://www.geeksforgeeks.org/python-ways-to-find-length-of-list/

In [131]:
test_list = [ 1, 4, 5, 7, 8 ] 
print(len(test_list))

5

In [132]:
# METHOD-2
test_list = [ 1, 4, 5, 7, 8 ] 

# Printing test_list 
print ("The list is : " + str(test_list)) 

counter = 0
for i in test_list: 

    # incrementing counter 
    counter = counter + 1

# Printing length of list 
print ("Length of list using naive method is : " + str(counter))

The list is : [1, 4, 5, 7, 8]
Length of list using naive method is : 5

##### QUESTION-4: Maximum of two numbers in Python

Examples:

Input: a = 2, b = 4

Output: 4

Input: a = -1, b = -4

Output: -1

https://www.geeksforgeeks.org/maximum-of-two-numbers-in-python/?ref=leftbar-rightbar

##### QUESTION-5 : Minimum of two numbers in Python

Given two numbers, write a Python code to find the Minimum of these two numbers.

Examples:

Input: a = 2, b = 4

Output: 2

Input: a = -1, b = -4

Output: -4

https://www.geeksforgeeks.org/minimum-of-two-numbers-in-python/