https://www.geeksforgeeks.org/python-set-3-strings-lists-tuples-iterations/

##### Strings in Python

A string is a sequence of characters. It can be declared in python by using double-quotes. Strings are immutable, i.e., they cannot be changed.

In [1]:
st= "string"

In [2]:
print(st)

string

In [3]:
type(st)

str

##### Lists in Python

They are just like the arrays declared in other languages. But the most powerful thing is that list need not be always homogeneous. A single list can contain strings, integers, as well as objects. Lists can also be used for implementing stacks and queues. Lists are mutable, i.e., they can be altered once declared.

In [4]:
x = 1

In [5]:
y = 2

In [7]:
print(x,y)

1 2

In [15]:
arr = [1,2,3,4,5]

In [16]:
for i in arr:
    print(i)

1
2
3
4
5

In [17]:
print(arr[0])

1

##### Tuples

A tuple is a sequence of immutable Python objects. Tuples are just like lists with the exception that tuples cannot be changed once declared. Tuples are usually faster than lists.

In [ ]:
# used with ()

##### Iterations in Python

Iterations or looping can be performed in python by ‘for’ and ‘while’ loops. Apart from iterating upon a particular condition, we can also iterate on strings, lists, and tuples.

# Sets

A Set is an unordered collection of items. Every element is unique.

A Set is created by placing all the items (elements) inside curly braces {}, separated by a comma. Consider the example below:

In [20]:
# Defining an empty set
set_variable = set()
print(set_variable)
print(type(set_variable))

set()
<class 'set'>

In [23]:
set_var = {1,2,3,4,5,2,3}

In [24]:
set_var

{1, 2, 3, 4, 5}

In [25]:
set_var = {"Avengers","IronMan","Loki"}

In [26]:
print(set_var)

{'IronMan', 'Avengers', 'Loki'}

In [27]:
type(set_var)

set

In [28]:
# inbuilt function in sets
set_var.add("Hulk")

In [33]:
# set_var.append("Anurag")
# set_var.insert("Anurag")

In [34]:
print(set_var)

{'IronMan', 'Avengers', 'Loki', 'Hulk'}

In [36]:
set_name = {1,2,3,4,5}
# every element has to be unique.

In [37]:
set_name.add("Adarsh")

In [38]:
set_name

{1, 2, 3, 4, 5, 'Adarsh'}

In [ ]:
# press tab to see the features it provide
# set_name.

Union of A and B is a set of all the elements from both sets. Union is performed using | operator.

In [39]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print ( A | B)

{1, 2, 3, 4, 5, 6}

##### Intersection:

Intersection of A and B is a set of elements that are common in both sets. Intersection is performed using & operator.

In [41]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print ( A & B )

{3, 4}

In [47]:
set1 = {"Avengers","IronMan","Loki"}
set2 = {"Avengers","IronMan","Loki","Thor"}

In [43]:
set2.intersection_update(set1)

In [44]:
set2

{'Avengers', 'IronMan', 'Loki'}

In [48]:
set2.difference_update(set1)

In [49]:
set2

{'Thor'}

##### Difference:

Difference of A and B (A – B) is a set of elements that are only in A but not in B. Similarly, B – A is a set of element in B but not in A. 

All the common element will get removed.

In [50]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A - B)

{1, 2, 3}

In [51]:
B.difference(A)

{6, 7, 8}

In [52]:
set1 = {"Avengers","IronMan","Loki"}
set2 = {"Avengers","IronMan","Loki","Thor"}

In [53]:
# Difference update
set2.difference_update(set1)
print(set2)

{'Thor'}

# Dictionaries

Unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. Key value is provided in the dictionary to make it more optimized.

Note – Keys in a dictionary doesn’t allows Polymorphism.

curly {} braces, separated by ‘comma’.

Dictionary holds a pair of values, one being the Key and the other corresponding pair element being its Key:value. Values in a dictionary can be of any datatype and can be duplicated, whereas keys can’t be repeated and must be immutable.

Dictionary keys are case sensitive, same name but different cases of Key will be treated distinctly.

In [54]:
dic = {}

In [55]:
type(dic)

dict

In [56]:
type(dict())

dict

In [57]:
set_examp = {1,2,3,4,5}

In [58]:
type(set_examp)

set

In [59]:
# Let create a dictionary
my_dict = {"Car1":"Audi","Car2":"BMW","Car3":"Mercedes Benz","Car4":"Ferrari"}

In [60]:
type(my_dict)

dict

In [61]:
# access the item values based on keys
my_dict['Car1']

'Audi'

In [64]:
# we can even loop through the dictionaries values
for x in my_dict.values():
    print(x)

Audi
BMW
Mercedes Benz
Ferrari

In [65]:
# we can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')
('Car4', 'Ferrari')

In [66]:
# Dictionaries are mutable 
# adding items in dictionaries
my_dict['Car1'] = 'Tata'

In [67]:
my_dict

{'Car1': 'Tata', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'Car4': 'Ferrari'}

In [70]:
# Creating a Dictionary 
# with Integer Keys 
Dict = {1: 'Anurag', 2: 'Akash', 3: 'Rhea'} 
# print("\nDictionary with the use of Integer Keys: ") 
print(Dict)

{1: 'Anurag', 2: 'Akash', 3: 'Rhea'}

In [71]:
# Creating a Dictionary 
# with Mixed keys 
Dict = {'Name': 'Anurag', 1: [1, 2, 3, 4]} 
# print("\nDictionary with the use of Mixed Keys: ") 
print(Dict)

{'Name': 'Anurag', 1: [1, 2, 3, 4]}

In [72]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict)

Empty Dictionary:
{}

In [73]:
# Creating a Dictionary 
# with dict() method 
Dict = dict({1: 'Adarsh', 2: 'Akash', 3: 'Shubam'}) 
print("\nDictionary with the use of dict(): ") 
print(Dict)

Dictionary with the use of dict():
{1: 'Adarsh', 2: 'Akash', 3: 'Shubam'}

In [74]:
# Creating a Dictionary 
# with each item as a Pair 
Dict = dict([(1, 'Shubham'), (2, 'Rhea')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict)

Dictionary with each item as a pair:
{1: 'Shubham', 2: 'Rhea'}

### Nested Dictionary

In [77]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [78]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [79]:
## accessing the items in the dictionaries
print(car_type['car1'])

{'Mercedes': 1960}

In [80]:
print(car_type['car1']['Mercedes'])

1960

# Tuples

A Tuple is a collection of Python objects separated by commas. In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists which are mutable.

In [1]:
my_tuple = tuple()

In [2]:
type(my_tuple)

tuple

In [3]:
my_tuple = ()

In [4]:
type(my_tuple)

tuple

In [10]:
my_tuple = ("Anurag","Rhea","Akash")

In [6]:
print(my_tuple)

('Anurag', 'Rhea', 'Akash')

In [11]:
my_tuple.count("Akash")

1

In [12]:
my_tuple.index("Akash")

2

In [ ]:
# An empty tuple 
empty_tuple = () 
print (empty_tuple)

In [ ]:
# method 2
tup = 'Anurag', 'Tripathi'
print(tup)

In [ ]:
# tup[0]= "Adarsh"

In [ ]:
# tup= ('Akash')
# this will get replaced but elements won't replaced
# we can completly changed the whole list but not the element.

In [ ]:
# method 3
tup = ('Akash', 'Kumar') 
print(tup)